body {
  font-family: sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  font-size: 5em;
}

form {
  padding: 3em;
  background-color: lightgoldenrodyellow;
  border-radius: 1em;
  input, button {
    font-size: 36px;
  }
  input {
    &[type='text'] {
      border: none;
      background: transparent;
      border-bottom: 1px solid #666;
      width: calc(100% - 108px);
    }
    &[type='submit'] {
      background-color: gold;
      border: 1px solid #000;
      border-radius: 12px;
      margin-left: 12px;
      width: 96px;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .message {
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    &.error {
      color: hotpink;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  background-color: DarkSlateGray;
  color: white;
  margin: -1em;
  margin-bottom: 2em;
  padding: 0 0.5em;
  h1 {
    font-size: 2.6em;
    display: inline-block;
    margin: 0;
  }
  li {
    height: 3.6em;
    line-height: 3.6em;
    display: inline-block;
    vertical-align: top;
    &.user {
      float: right;
    }
  }
  button {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
  }
}
