body {
  font-family: sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  font-size: 5em;
}

form {
  padding: 3em;
  background-color: lightgoldenrodyellow;
  border-radius: 1em;
  input, button {
    font-size: 36px;
  }
  input {
    &[type='text'] {
      border: none;
      background: transparent;
      border-bottom: 1px solid #666;
      width: calc(100% - 108px);
    }
    &[type='submit'] {
      background-color: gold;
      border: 1px solid #000;
      border-radius: 12px;
      margin-left: 12px;
      width: 96px;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .message {
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    &.error {
      color: hotpink;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  background-color: DarkSlateGray;
  color: white;
  margin: -1em;
  margin-bottom: 2em;
  padding: 0 0.5em;
  h1 {
    font-size: 2.6em;
    display: inline-block;
    margin: 0;
  }
  li {
    height: 3.6em;
    line-height: 3.6em;
    display: inline-block;
    vertical-align: top;
    &.user {
      float: right;
    }
  }
  button {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
  }
}

.messages {
  display: flex;
  flex-flow: column-reverse wrap;
  li {
    margin-bottom: 1em;
    > .author, > .time {
      font-size: 1.1em;
      line-height: 1.2em;
      vertical-align: baseline;
    }
    > .time {
      margin-left: 0.5em;
      font-size: 0.8em;
      color: gray;
    }
    > .message {
      display: block;
      padding: 0.5em;
      background: lightgreen;
      margin-top: 0.5em;
      border-radius: 0.5em;
      position: relative;
      &:after {
        content: '';
        display: block;
        top: -0.5em;
        left: 0.5em;
        width: 0;
        height: 0;
        position: absolute;
        background-color: transparent;
        border-style: solid;
        border-width: 1em 0 0 1em;
        border-color: transparent transparent transparent lightgreen;
      }
    };

    &.self {
      text-align: right;
      position: relative;
      > .message{
        background: wheat;
        &:after {
          left: auto;
          right: 0.5em;
          border-width: 0 0 1em 1em;
          border-color: transparent transparent wheat transparent;
        }
      }
      > .time {
        position: absolute;
        right: 3.6em;
        top: 3px;
      }
    }
  }
}
